

.movie-img {
    width: 200px;
    height: 300px;
}

.home-title {
    text-align: center;
}

.sessions-directive{
    height: 100px;
    position: fixed;
    bottom: 1px;
    background: #191818;
    width: 102%;
}