<div class="container">
        <div class="form-group">
                <label for="exampleFormControlSelect1">Escolha o cinema</label>
                <select class="form-control" [(ngModel)]="selectedStore" required>
                  <option value="{{theater.Id}}" *ngFor="let theater of existingStores">{{theater.Name}}</option>
                </select>
        </div>
        <div *ngFor="let room of rooms">
        <div class="form-group">
            <label for="exampleInputEmail1">Número da sala</label>
            <input type="number" class="form-control" [(ngModel)] = "room.number" required>
            <label for="exampleInputEmail1">Número de fileiras</label>
            <input type="number" class="form-control" [(ngModel)] = "room.number_rows" required>
            <label for="exampleInputEmail1">Número de cadeiras por fila</label>
            <input type="number" class="form-control" [(ngModel)] = "room.number_seats_by_row" required>
        </div>
        </div>
        <button  (click)="addRoom()"class="btn btn-primary">+ sala</button>
        <div class="row">
        <div class="container">
                <button class="btn btn-success" (click)="submit()"> Enviar</button>
        </div>
        </div>
</div>
