    
    
    .login-div{
        position: relative;
        top: 150px;
        background-color: #555451;
        border-color: #c2c1be;
    }

    .login-h2 {
        text-align: center;
    }

    .login-btns {
        text-align: center;
    }
