<nav class="navbar navbar-expand-md navbar-light bg-faded nav-main">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">APS-2017.2</a>
  <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Filmes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ingressos</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" href="#">CRUD-Cinema</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
            <a class="nav-link" href="#">CRUD-Filme</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin">
              <a class="nav-link" href="#">CRUD-Sala</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
                <a class="nav-link" href="#">CRUD-Sessão</a>
              </li>
        <li class="nav-item">
          <a class="nav-link" href="login" routerLink="login">Login</a>
        </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

