body {
    background: #f6f8d6;
}

app-root {
    background: #f6f8d6;

}

.nav-main {
    background: rgba(0,0,0,0.4);
    margin-bottom: 10px;
}

.nav-link, .navbar-brand {
    color: white !important;
}


